<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">  
        
<context:property-placeholder location="classpath:jdbc.properties"  />

<!-- datasource -->
<bean id="c3p0DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	 <property name="driverClass" value="${jdbc.driverClass}"></property>  
        <property name="jdbcUrl" value="${jdbc.url}"></property>  
        <property name="user" value="${jdbc.user}"></property>  
        <property name="password" value="${jdbc.password}"></property>  
        <property name="checkoutTimeout" value="${jdbc.checkoutTimeout}" />  
        <property name="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod}" />  
        <property name="maxIdleTime" value="${jdbc.maxIdleTime}" />  
        <property name="initialPoolSize" value="${jdbc.initialPoolSize}" />  
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />  
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />  
        <property name="acquireIncrement" value="${jdbc.acquireIncrement}" />  
</bean>

<!-- session factory -->        
 <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
 	<property name="dataSource" ref="c3p0DataSource"></property>
 	 <property name="packagesToScan" value="com.purchase.bean"/>  
 	<property name="hibernateProperties">
 		<props>
 			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
 			<prop key="hibernate.show_sql">true</prop>
 			<prop key="hibernate.format_sql">true</prop>
 			<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</prop>
 		</props>
 	</property>
 </bean>       
        
        
        
        
        
        
        
</beans>